<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="blogFragment">
    <div class="container my-3 w-100">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 9fr 1fr;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#" role="tab">트렌딩</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#" role="tab">최신</a>
                </li>
                <li class="nav-item mx-3">
                    <select class="form-select" aria-label=".form-select-sm example">
                        <option selected value="1">오늘</option>
                        <option value="2">이번 주</option>
                        <option value="3">이번 달</option>
                        <option value="4">올해</option>
                    </select>
                </li>
            </ul>
            <div class="dropdown">
                <a class="nav-link" href="/blog" id="write_btn" aria-expanded="false">블로그 쓰기</a>
            </div>
        </div>
    </div>
</div>
</html>