<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="qnaFragment">
    <div class="container my-3">
        <th:block th:replace="layout/search-form :: searchFragment(
            name = 'qnaWrite',
            title = '질문 작성')"
        ></th:block>
    </div>

    <script th:inline="javascript">
        let data_trend;
        $( document ).ready(function() {
            alert("hidws");
            $.get('/qna',function (data){
                data_trend = data;
                console.log(data_trend);
            })

            // fetch("/api/qna").then((response) =>
            //     console.log(response)
            // );

            // $.ajax({
            //     url: "localhost:8084/api/qna",
            //     headers: { 'Access-Control-Allow-Origin' : '*' },
            //     method: "GET",
            // });



        });




    </script>
</div>
</html>