<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="loginFragment">
    <div class="modal-dialog" style="min-width: 900px">
        <div class="modal-content" style="background: transparent; border: none;">
            <div class="d-flex flex-row-reverse mt-3">
                <button type="button" class="btn btn-danger btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <iframe width="100%" height="580px" style="border: none;" src="/iframe/login.html"></iframe>
        </div>
    </div>
</div>
</html>